PORT=3001
FRONT_URL=http://localhost:3000
DATABASE_URL=postgresql://ffp:ffp@localhost:5432/ffp
FOREIGNPAY_URL=https://keys.foreignpay.ru
FOREIGNPAY_TOKEN=d1a2bfde-a2aa-4ade-9611-59f72f7838ec
OUR_PERCENT=5
